/* Imports Navigation */
@import './navigation/_index.scss';

/* Import componnt styles */
@import './components/helloworld/_index.scss';

/* Styles for the whole app & main container */

body {
    background: #fff;
    margin: 0;
    display: flex;
}

.content {
    margin-left: 340px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}

.hello {
    height: 100%;
    padding: 3%;
    padding-top: 6%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 10%;
    grid-row-gap: 15px;
}

.app {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.content-box {
    padding: 3px;
    box-shadow: #3a9b6f 0px 0px 5px 0px;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: .3s; /* Safari */
    transition: .3s;
    font-size: 25px;
}

.content-box img{
    height: 176px;
    width: 176px;
}

.content-box:hover {
    color: #fff;
}

.content-box-about:hover{
    box-shadow: #3a9b6f 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, #3a9b6f);  
}
.content-box-advantage:hover{
    box-shadow: #599ddc 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, #3b79de);  
}
.content-box-syntax:hover{
    box-shadow: #b3ab6c 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, #b3ab6c);  
}
.content-box-best-practices:hover{
    box-shadow: #bd2844 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, #bd2844);  
}
.content-box-unit-testing:hover{
    box-shadow: #098599 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, #098599);  
}
.content-box-programs:hover{
    box-shadow: #3a9b6f 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, #3a9b6f);  
}

a {
    text-decoration: none;
    color: black;
}