
/* Import Global Variables */
@import './_globalVariables.scss';

/* Imports Navigation */
@import './navigation/_index.scss';

/* Import componnt styles */
@import './components/Samples/_index.scss';


/* Styles for the whole app & main container */

body {
    background: #fff;
    margin: 0;
    display: flex;
    font-family: sans-serif;
;
}

.content {
    margin-left: 300px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}

@media (max-width: 900px){
    .content {
        margin: 0;
        padding-top: 5%;
    }
}

.hello {
    height: 100%;
    padding: 3%;
    padding-top: 6%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 10%;
    grid-row-gap: 15px;
}

@media (max-width: 900px){
    .hello {
        display: unset;
    }
}

.app {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: stretch;  /* Mozilla-based browsers will ignore this. */
}

.content-box {
    padding: 3px;
    box-shadow: #3a9b6f 0px 0px 5px 0px;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: .3s; /* Safari */
    transition: .3s;
    font-size: 25px;
}

.content-box img{
    height: 176px;
    width: 176px;
}

@media (max-width: 900px) {
    .content-box{
        width: 90%;
        height: 172px;
    }

    .content-box img{
        height: 80px;
        width: 80px;
    }
}

.content-box:hover {
    color: #fff;
}

.content-box-about:hover {
    box-shadow: $vuegreen 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, $vuegreen);  
}
.content-box-advantage:hover {
    box-shadow: #599ddc 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, #3b79de);  
}
.content-box-syntax:hover {
    box-shadow: #b3ab6c 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, #b3ab6c);  
}
.content-box-best-practices:hover {
    box-shadow: $chartred 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, $chartred);  
}
.content-box-unit-testing:hover {
    box-shadow: #098599 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, #098599);  
}
.content-box-programs:hover {
    box-shadow: $vuegreen 0px 0px 20px 2px;
    background: linear-gradient(108deg, #fefefe, $vuegreen); 
}

a {
    text-decoration: none;
    color: black;
}