.sidenav {
    background: #ffffff;
    height: 100%;
    width: 340px;
    position: fixed;
    box-shadow: #42b983 0px 0px 11px;
    z-index: 1;
}

.sidenav-title-img{
    height: 50px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 25px;
}

.sidenav-btn {
    display: flex;
    border-bottom: solid #42b983 1px;
    -webkit-transition: 2s; /* Safari */
    transition: .3s;
    height: 55px;
    padding-left: 15px;
    align-items: center;

    &-text {
        font-size: 18px;
        color: #000;
        font-family: serif;
        text-decoration: unset;
    }

}

.sidenav-btn a{
    text-decoration: none;
    color: black;
}


.sidenav-btn:hover {
    background: #41b883;
    color: #fff;
}